<div title="杂志管理">
    <ul id="navmenu" class="nav nav-pills nav-stacked">
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '杂志列表', 'href': '@Url.Action("MagazineList")'"><span class="glyphicon glyphicon-th-list"> 杂志列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '文章分类列表', 'href': '@Url.Action("CategoryList")'"><span class="glyphicon glyphicon-th-list"> 文章分类列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '文章管理', 'href': '@Url.Action("ArticleList")'"><span class="glyphicon glyphicon-th-list"> 文章管理</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '留言管理', 'href': '@Url.Action("CommentList")'"><span class="glyphicon glyphicon-th-list"> 留言管理</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '文件上传测试', 'href': '@Url.Action("ArticleUpload")'"><span class="glyphicon glyphicon-th-list"> 文件上传测试</span></a></li>
    </ul>
</div>
