@model CMS.BLL.Admin.Models.AdminModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AdminID)
    @Html.HiddenFor(model => model.UserName)
    <div class="easyui-panel" title="用户修改">
        @Html.ValidationSummary(true)
        <div style="padding:10px 60px 20px 60px">
            <table cellpadding="5">
                <tr>
                    <td>@Html.LabelFor(model => model.UserName)</td>
                    <td>@Html.DisplayFor(model => model.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.DisplayName)</td>
                    <td>@Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "easyui-textbox" } })@Html.ValidationMessageFor(model => model.DisplayName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "easyui-textbox" } })@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(model => model.Roles)</td>
                    <td>
                        @foreach (var item in Model.Roles)
                        {
                            var ischecked = string.Empty;
                            if (item.Selected)
                            {
                                ischecked = "checked='checked'";
                            }
                            <input name="roles" type="checkbox" value="@item.Value" @ischecked />@item.Text
                        }
                </td>
            </tr>
        </table>
        <div style="text-align:center;padding:5px">
            <input type="submit" value="修改" />
            <input type="reset" value="取消">
        </div>
    </div>
</div>
}

