<div title="总管理">
    <ul id="navmenu" class="nav nav-pills nav-stacked">
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '管理员列表', 'href': '@Url.Action("List")'"><span class="glyphicon glyphicon-th-list"> 管理员列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '角色列表', 'href': '@Url.Action("RoleList")'"><span class="glyphicon glyphicon-th-list"> 角色列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-more','title': '权限列表', 'href': '@Url.Action("AuthList")'"><span class="glyphicon glyphicon-th-list"> 权限列表</span></a></li>
        <li> <a href="javascript:void()" data-options="'icons':'icon-edit','title': '修改资料', 'href': '@Url.Action("Details")'"> <span class="glyphicon glyphicon-check"> 修改资料</span></a></li>
        <li><a href="javascript:void()" data-options="'icons':'icon-edit','title': '修改密码', 'href': '@Url.Action("ChangePassword")'"> <span class="glyphicon glyphicon-check"> 修改密码</span></a></li>
        <li> <a href="@Url.Action("Logout")"> <span class="glyphicon glyphicon-log-out"> 退出登录</span></a></li>
    </ul>
</div>
