<div id="bottom01"></div>
<div id="bottom02">

    <div id="kj_bottom">

        <div id="kj_bottom_left">
            <div>
                @Html.ActionLink("首页", "Index")&nbsp; <a href="@Url.Action("Introduction", "Council")" target="_blank">行业协会</a>&nbsp; <a href="@Url.Action("BranchDirector","Council")" target="_blank">
    理事会员

</a>&nbsp; <a href="http://www.china-boiler.net/20years/inside/charactor.aspx" target="_blank">优秀人物</a>&nbsp; <a href="http://www.heatecchina.com/HEATEC15/Home/lang-simp/Information.aspx" target="_blank">锅炉展</a>&nbsp; <a href="http://www.china-boiler.net/luntan/2013/index.html" target="_blank">

    专题活动
</a>&nbsp; <a href="@Url.Action("Contact","Council")" target="_blank">联系我们</a>&nbsp; <a href="@Url.Action("List", "News", new { category=116})" target="_blank">通讯下载</a>
            </div>
            <div class="line02"></div>
            <div><img src="/Content/images/bt02.gif" width="401" height="31" /></div>

        </div>
        <div id="kj_bottom_center"><img src="/Content/images/wx.jpg" width="83" height="83" /></div>
        <div id="kj_bottom_right">
            <div>
                Copyright @@2004-2015 All Right Reserved. <br />
                版权所有&nbsp; 中国电器工业协会工业锅炉分会
            </div>
            <div id="xhgl">网络备案号：沪ICP备09086544号</div>
        </div>
    </div>
</div>
<div id="weixin">
    <img src="~/Content/images/weixin.gif" width="91" height="127"/>
</div>