<div id="top01">
    <div id="top01_01">
        <div><img src="/Content/images/xh_01.jpg" width="571" height="73" /></div>
        <div class="top01_01last"><img src="/Content/images/xh_02.gif" width="268" height="32" /></div>
    </div>

</div>
<div class="top02"></div>
<div id="top03"></div>
<div id="top04">
    <div id="top04_01">
        <div><a href='@Url.Action("Index")'><img src="/Content/images/dh_01.png" width="41" height="32" /></a></div>
        <div><a href="@Url.Action("Introduction", "Council")"><img src="/Content/images/dh_02.png" width="76" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 113 })"><img src="/Content/images/dh_03.png" width="43" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 114 })"><img src="/Content/images/dh_04.png" width="80" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 117 })"><img src="/Content/images/dh_05.png" width="79" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 120 })"><img src="/Content/images/dh_06.png" width="80" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 108 })"><img src="/Content/images/dh_07.png" width="98" height="32" /></a></div>
        <div><a href="@Url.Action("Contact", "Council")"><img src="/Content/images/dh_08.png" width="81" height="32" /></a></div>
        <div><a href="@Url.Action("List","News", new { category = 116 })"><img src="/Content/images/dh_09.png" width="81" height="32" /></a></div>
    </div>
</div>
<div id="top05"></div>
