@model CMS.BLL.User.Models.AuthListModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AuthoriseID)
    <div class="easyui-panel" title="用户权限修改">
        @Html.ValidationSummary(true)
        <div style="padding:10px 60px 20px 60px">
            <table cellpadding="5">
                <tr>
                    <td>@Html.LabelFor(model => model.Name)</td>
                    <td>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "easyui-textbox" } })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Description)</td>
                <td>@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "easyui-textbox" } })@Html.ValidationMessageFor(model => model.Description)</td>
        </table>
        <div style="text-align:center;padding:5px">
            <input type="submit" value="确认修改" />
            <input type="reset" value="取消">
        </div>
    </div>
</div>

}


