<div id="toolbar">
    <div>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="add()">添加角色</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">修改</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="del()">删除</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="$('#article_list').datagrid('reload');">刷新</a>
    </div>
</div>
<table id="article_list"></table>
<script type="text/javascript">
    $("#article_list").datagrid({
        loadMsg: '加载中……',
        onLoadError: function () {
            alert('数据加载失败!');
        },
        fitColumns: true,
        url: '@Url.Action("JsonRoleList")',
        pageSize: 10,
        pageNumber: 1,
        pageList: [10, 15, 30],
        rownumbers: true,
        columns: [[
            { field: 'RoleID', title: 'ID', checkbox: true },
            { field: 'Name', title: '角色名称' },
            { field: 'Authorizes', title: '拥有权限' },
            { field: 'Description', title: '描述' },
            { field: 'GetID', title: '角色编号' },
        ]],
        pagination: true,
        idField: "RoleID",
        toolbar: '#toolbar',
        onDblClickRow: function (rowIndex, rowData) {
            $.addSubTab("角色修改", "@Url.Action("RoleEdit")/" + rowData.RoleID, "icon-page");
        }
    });
    $('#article_list').datagrid('getPager').pagination({
        displayMsg: '当前显示从{from}-{to}共{total}记录'
    });
    //添加角色
    function add() {
        $.addSubTab("添加角色", "@Url.Action("AddRole")", "icon-page");
    }
    //删除角色
    function del() {
        var rows = $("#article_list").datagrid("getSelections");
        if (!rows || rows.length < 1) {
            $.messager.alert("提示", "未选择任何行!");
            return;
        } else if (rows.length > 0) {
            $.messager.confirm("确认", "您确定要删除所选行吗？", function (r) {
                if (r) {
                    $.messager.progress();
                    count = 0;
                    $.each(rows, function (index, value) {
                        $.post("@Url.Action("JsonRoleDel")", { id: value.RoleID }, function () {
                            if (++count == rows.length) {
                                $.messager.progress('close');
                                rows.length = 0;
                                $("#article_list").datagrid('reload');
                            }
                        });
                    });
                }
            });
        }
    }

    //修改
    function edit() {
        var rows = $("#article_list").datagrid("getSelections");
        if (!rows || rows.length < 1) {
            $.messager.alert("提示", "未选择任何行!");
            return;
        } else if (rows.length != 1) {
            $.messager.alert("提示", "仅能选择一行!");
            return;
        } else {
            $.addSubTab("角色修改", "@Url.Action("RoleEdit")/" + rows[0].RoleID, "icon-page");
        }
    }
</script>

