@model Cibb.Web.BLL.Model.ViewModels<Cibb.Web.Contract.Model.BranchDirector>
@{
    ViewBag.Title = "理事会领导-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">
        <div id="lsh_dh">
            <div><img src="../Content/images/lsh01.gif" width="121" height="29" /></div>
            <div id="lsh_dh02">
                <div><a href="#"><img src="../Content/images/lsh02_01.gif" width="85" height="31" /></a></div>
                <div><img src="../Content/images/lsh03.gif" width="21" height="31" /></div>
                <div><a href="@Url.Action("BranchCompany")"><img src="../Content/images/lsh04_02.gif" width="73" height="31" /></a></div>
            </div>
        </div>
        <div class="lsh_line"></div>
        <div class="pagination bottomtopkong">
            <ul>
                @Html.PageLink(Model.pagingInfo, x => Url.Action("BranchDirector", new { page = x }))
            </ul>
        </div>

        <div id="lshld">
            @foreach (var p in Model.data) {
                Html.RenderPartial("Person", p);
            }
        </div>

        <div class="lsh_line"></div>
        <div class="pagination bottomtopkong">
            <ul>
                @Html.PageLink(Model.pagingInfo, x => Url.Action("BranchDirector", new { page = x }))
            </ul>
        </div>
    </div>
</div>



