@{
    ViewBag.Title = "行业公约-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">

        <div class="static_wen01">
            中国电器工业协会工业锅炉分会<br />
            Welcome to become membership of Industrial<br />
            Boiler Branch Of China Electrical Equipment<br />
            Industry Association(CIBB)
        </div>
        <div class="static_tit">
            工业锅炉行业锅炉产品销售收款公约
        </div>
        <div>
           <p>近几年来工业锅炉行业规模不断扩大,企业间的市场竞争因产品同质化等因素而日趋激烈和失范,为进一步规范工业锅炉市场竞争秩序,避免因相互恶意竞价和不计条件的销售的蔓延而进一步影响全行业的健康发展,经部分会员单位提议,分会理事长会议决定,特就产品直接销售过程中的付款条件制订本公约。</p>

<p>1 合同签订时的收款约定</p>

<p>1.1 签订容量为0.7-14MW常规热水锅炉、1-20t/h常规蒸汽锅炉（指锅炉额定参数符合蒸汽锅炉系列、热水锅炉系列标准)时，买方必须支付合同总价款（不包括安装费和运费）的30%给卖方作为预付款（其中20%以上作为定金），提货时支付剩余全部合同款。</p>

<p>1.2 签订容量为14MW以上常规热水锅炉、20t/h以上常规蒸汽锅炉（指锅炉额定参数符合蒸汽锅炉系列、热水锅炉系列标准)时，买方必须支付合同总价款（不包括安装费和运费）的30%作为预付款（其中20%以上作为定金）给卖方。余款支付按第2.1条、2.3条执行。</p>

<p>1.3 签订循环流化床锅炉和65 t/h(46MW)及以上大容量常规锅炉、特种锅炉（指非常规容量/压力/温度/燃料的锅炉）或非常规辅机时，买方必须支付总价款30%以上给卖方作为定金或预付款，余款支付按第2.2条、2.3条执行。</p>

<p>1.4 合同签订后生效后10个工作日内，买方须将预付款或定金支付给卖方；若买方未按合同约定支付相关款项但合同已生效，因此而产生的财务及有关费用建议由买方支付。</p>

<p>2发货前的收款约定</p>

<p>2.1 常规锅炉主机发货前收款必须达到合同价的至少90%，锅炉辅机和零部件在发货时应100%付款。</p>

<p>2.2 流化床锅炉和65t/h(46MW)及以上大容量锅炉、特种锅炉在发最后一批受压元（部）件前收款必须达到合同总价的至少90%，锅炉辅机和零部件应100%收款。</p>

<p>2.3 锅炉质量保证金为合同总价的5%,买方应在自安装验收合格后12个月或出厂18个月(以先到为准)时支付。</p>

<p>2.4 在卖方货款回笼达到合同总价至少90%时，卖方方可开具购货发票给买方。</p>

<p>3 附则</p>

<p>3.1 本公约由中国电器工业协会工业锅炉分会负责制定，解释权归分会秘书处。</p>

<p>3.2 本公约由分会常务理事会审查通过后，理事长批准发布并生效。</p>

<p>3.3 本公约为分会成员的共同行为准则，各会员在日常经营活动中有义务带头执行并宣传该公约，自觉抵制破坏行规行约行为，共同维护行业的整体利益。</p>

        </div>
    
        <div style="text-align:right">
            2013年5月20日<br/>
中国电器工业协会工业锅炉分会秘书处

        </div>
    </div>
</div>


