@{
    ViewBag.Title = "分会简介-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}
<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">

        <div class="static_wen01">
            中国电器工业协会工业锅炉分会<br />
            Welcome to become membership of Industrial<br />
            Boiler Branch Of China Electrical Equipment<br />
            Industry Association(CIBB)
        </div>
        <div class="static_tit">
            协会简介
        </div>
        <div>
            <p>中国电器工业协会工业锅炉分会是由工业锅炉制造和相关企业及有关的科研、设计院所校单位等，在平等、自愿的基础上组成的非盈利性的、不受地区、部门隶属关系和所有制限制的全国性行业组织。</p>

            <p>协会的前身&ldquo;中国工业锅炉行业协会&rdquo;成立于1993年，是由上海工业锅炉研究所牵头，在广大锅炉制造企业积极参与下，经民政部批准成立。1996年，协会为配合原机械部机构改革和职能转变的需要，根据原机械工业部的决定，在成立中国电器工业协会的基础上，本会并入中国电器工业协会，并以中国电器工业协会工业锅炉分会的名义对外开展工作。</p>

            <p>20多年来，伴随着我国改革开放和整体经济高速增长的步伐，协会工作抓住历史机遇，推陈出新、蓬勃发展，为党和政府的决策服务，为行业企业的发展服务，为改革开放和现代化建设服务，使我国工业锅炉行业焕发出了前所未有的勃勃生机，为我国工业锅炉行业的技术进步、节能减排和产业发展做出了贡献。</p>

            <p>本届工业锅炉分会第六届理事会于2014年10月经全体会员大会选举产生，理事长和秘书长单位均由上海工业锅炉研究所担任。目前会员单位有158家，包含了锅炉制造企业及相关配套单位、科研单位，其中理事单位51家。协会的会员单位覆盖了中国工业锅炉行业的所有主导企业，在技术和市场均占有优势，在行业中具有广泛代表性。</p>

            <p>作为行业自律性组织，工业锅炉分会自成立以来，在国家有关部门和中国电器工业协会的指导下，在广大会员单位的积极支持和参与下，紧紧围绕&ldquo;为会员服务、为行业服务、为政府服务&rdquo;的宗旨，发挥在政府有关部门和企业间的桥梁和纽带的作用，积极开展各项工作。成立以来，配合政府有关部门和中国电器工业协会，组织行业专家编制了行业&ldquo;八五&rdquo;～&ldquo;十二五&rdquo;发展规划，为企业和政府部门决策提供支持；紧紧围绕国家节能减排战略，通过制定行业节能工作规划、相关节能产品技术条件、开展节能产品评审为抓手和突破口，引导全行业开展节能降耗工作；以组织专题交流活动为工作切入点，针对国内外锅炉技术发展趋势和国内实际，组织行业技术、工艺、管理等方面的交流活动，推动行业整体技术水平提高；组织开展协会标准制修订并在行业中推广，促进产品质量提升，提高工业锅炉行业的整体制造水平；开展对外联络，加强与国外相关协会的联系与交流，组织国内外行业交流观摩活动，连续举办上海国际锅炉展；制定行业公约，避免企业同质化带来的恶性竞争，依法保护会员的合法权益；开展本行业年度行业经济技术指标统计分析工作，形成分析和市场预测报告；出版&ldquo;中国工业锅炉行业年鉴&rdquo;和会刊&ldquo;工业锅炉通讯&rdquo;，全面反映工业锅炉行业的企业、市场、技术发展状况。</p>

            <p>当前，中国经济进入新常态，从粗放发展阶段转向科学发展阶段。工业锅炉分将团结与依靠会员单位以及工业锅炉行业的广大同仁，巩固已取得的成果，进一步推进&ldquo;四个服务&rdquo;，即创新服务理念、增强服务意识、改变服务作风、提高服务效果。积极围绕企业需要、围绕行业需要、围绕政府需要开展工作，为振兴和发展我国工业锅炉行业做出积极贡献。</p>

        </div>
        <div class="static_wen02">BRIEF INTRODUCTION OF CIBB</div>
        <div>Industrial Boiler Branch of China Electrical Equipment Industry Association (CIBB) is a non-profit nationwide organization, which is comprised of IB manufacturers, enterprises and related research and design institutes, on the base of equality and willingness, without restrictions of subordination, region and ownership.</div>

        <div>&nbsp;</div>

        <div>CIBB, Former &ldquo; China Industrial Boiler Industry Association&rdquo;, which was led by Shanghai Industrial Boiler Research Institute and actively involved by widespread IB related enterprises ,was established in 1993 with the approval of Ministry of Civil Affairs. In 1996, to meet the needs of reform and function alteration of former Ministry of Machinery Industry, based on the inauguration of China Electrical Equipment Industry Association, under the resolution by the former Ministry of Machinery Industry, CIBMA was integrated into China Electrical Equipment Industry Association and executed all works by the name of Industrial Boiler Branch of China Electrical Equipment Industry Association(CIBB).</div>

        <div>&nbsp;</div>

        <div>For more than 20 years, along with the reform and opening up and high speed growth of overall economics, CIBB has seized the historic opportunities and promoted the flourish development of the industry. By making creative efforts, CIBB has assisted the Party and the Government by policies-making, served the IB related enterprises for the industry development, and contributed a lot to push forward reform, opening up and modernization construction. CIBB has done a lot of work to the IB industry technology improvement, to the energy conservation and emission reduction. Our IB Industry has getting unprecedented thriving vitality.</div>

        <div>&nbsp;</div>

        <div>Current council (Sixth term) was elected by Congress members in Oct., 2014. Shanghai Industrial Boiler Research Institute was elected as the chairman and the general secretary. At present, there are 158 members which are of IB manufacturers, auxiliary manufacturers and research institutions, of which 51 are council members. These enterprises are of dominant enterprises leading in technologies and market share, which are broadly representative in the IB industry.</div>

        <div>&nbsp;</div>

        <div>As a self-disciplined organization, CIBB , under the guidance of related government departments and the China Electrical Equipment Industry Association, under the support of involving-in of widespread members, with the key tenets&rdquo; serving members, serving the industry, serving the government&rdquo;, offers a communication bridge between related government departments and enterprises, takes vigorous measures to carry out all kinds of work. Since it was established, CIBB by cooperating well with government departments and the China Electrical Equipment Industry Association, has organized industrial experts to work out &ldquo;8<sup>th</sup> ~12<sup>th</sup> FIVE&rdquo; Development Plans to provide supports for the decision-makings of IB enterprises and government departments. CIBB organizes communication activities pertinent to the development trend of IB technologies in domestic and abroad and the domestic reality, such as symposiums on technologies, workmanships and managements to upgrade the overall technological level of the industry. CIBB organizes to work out CIBB standards and promote them in the Industry to facilitate upgrading of IB products and enhance overall level of manufacturing. CIBB actively pushes forward overseas communications by strengthening cooperation and communication with related overseas associations. CIBB organizes &ldquo;observation learning&rdquo; to advanced enterprises in domestic and abroad, organizes and sponsors International Boiler Exhibitions consecutively. To avoid vicious competitions due to Enterprise homogeneity, CIBB works out conventions to protect members&rsquo; legitimate rights. CIBB makes annual economic indexes statistics and analysis to work out reports on analysis and market trend forecast. CIBB Publishes &ldquo;Almanac of China IB Industry&rdquo; annually and Journal &ldquo;Industrial Boiler News Report&rdquo;, which fully reflect the development status of IB related enterprises, market and technological developments.</div>

        <div>&nbsp;</div>

        <div>At present, with China economy entering into new normal which is upgrading from extensive development stage to technological development stage, CIBB will unite and rely on members and broad colleagues to consolidate achievements, further promote &ldquo; four services&rdquo; i.e. innovating service concept, boosting service awareness, changing service styles, improving service effects. By sticking to &ldquo;Carrying out work to meet the needs of enterprises, IB industry, government departments&rdquo;, make a great contribution to the revitalizing and developing of China Industrial Boiler Industry.&nbsp;</div>
    </div>
</div>


