<div id="static_left">
    <div>
        <ul>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("Introduction")"><img src="/Content//images/knowledge/kn_56.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("Regulations")"><img src="/Content//images/knowledge/kn_57.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("MembershipManagement")"><img src="/Content//images/knowledge/kn_58.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("MembershipFeeManagement")"><img src="/Content//images/knowledge/kn_59.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("Institution")"><img src="/Content//images/knowledge/kn_71.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("BranchDirector")"><img src="/Content//images/knowledge/kn_72.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("BranchMember")"><img src="/Content//images/knowledge/kn_73.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
            <li>
                <div><img src="/Content//images/knowledge/kn_53.gif" width="21" height="24"></div>
                <div class="staticdh"><a href="@Url.Action("Convention")"><img src="/Content//images/knowledge/kn_74.gif" width="75" height="24" border="0"></a></div>
                <div><img src="/Content//images/knowledge/kn_54.gif" width="19" height="24"></div>
            </li>
        </ul>
    </div>
    <div><a href="@Url.Action("List","News",new { category = 178 })" target="_blank"><img src="/Content//images/knowledge/index069.gif" width="222" height="64" border="0" /></a></div>
    <div>
        <div class="contact00"><img src="/Content//images/knowledge/hang_07.jpg" width="223" height="108" /></div>
        <div class="contact_bg01">
            联系人：周丽娟<br />
            电&nbsp; 话：021-510803299<br />021-51020808-5105<br />
            邮&nbsp; 箱：<a href="mailto:glxh09@163.com">glxh09@163.com</a><a href="mailto:bzwzlj@gmail.com"></a>
        </div>
    </div>
</div>