@{
    ViewBag.Title = "理事会领导-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">
        <div id="lsh_dh">
            <div><img src="../Content/images/lsh01.gif" width="121" height="29" /></div>
            <div id="lsh_dh02">
                <div><a href="@Url.Action("BranchDirector")"><img src="../Content/images/lsh02_01.gif" width="85" height="31" /></a></div>
                <div><img src="../Content/images/lsh03.gif" width="21" height="31" /></div>
                <div><a href="@Url.Action("BranchCompany")"><img src="../Content/images/lsh04_02.gif" width="73" height="31" /></a></div>
            </div>
        </div>
        <div class="lsh_line"></div>
        <div class="bottomtopkong"></div>
        <div class="lsld">
            <div class="ldpic"><img src="../Content/images/knowledge/liu.jpg" width="254" height="340" alt="" /></div>
            <div class="ldnr">
                <div>
                    <div class="wenzimingld">柳振铎</div><div class="wenzizhiwuld">常务理事长</div><div class="lddanwei">中国电器工业协会工业锅炉分会五届理事会理事长</div>
                </div>
                <div>
                    中共党员，硕士研究生，高级经济师。曾任上海良工阀门厂副厂长，上海机电工业管理局规划处处长，上海电机（集团）有限公司总经理，上海电气（集团）总公司副总裁，兼：上海电气资产管理有限公司总裁、上海机电股份有限公司党委书记、总经理，上海集优机械股份有限公司董事长，上海工业锅炉研究所所长。中国电器工业协会工业锅炉分会第五届理事会理事长。现任中国电器工业协会工业锅炉分会第六届理事会常务副理事长。
                </div>
            </div>
        </div>
    </div>
</div>


