@{
    ViewBag.Title = "会籍管理办法-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">

        <div class="static_wen01">
            中国电器工业协会工业锅炉分会<br />
            Welcome to become membership of Industrial<br />
            Boiler Branch Of China Electrical Equipment<br />
            Industry Association(CIBB)
        </div>
        <div class="static_tit">
            中国电器工业协会工业锅炉分会会籍管理办法
        </div>
        <div>
            <p>为规范分会会员会籍的管理，促进分会的自身建设和健康发展，根据《中国电器工业协会工业锅炉分会工作条例》和《中国电器工业协会会籍管理办法》特制定本办法。</p>

            <p><strong>一、会员条件</strong></p>

            <p>凡依法取得工商营业执照和生产许可证，在中国境内从事锅炉（含部件）制造、锅炉辅机制造、销售、安装、改造等业务的企业（包括中外合资、外商 独资或外资控股企业）以及与本行业相关的企事业单位、科研院所、大专院校和社会团体等，承认和遵守&ldquo;中电协&rdquo;章程和本工作条例，均可申请入会。</p>

            <p><strong>二、入会手续</strong></p>

            <p>1、本分会受&ldquo;中电协&rdquo;委托，接纳单位会员和个人会员，入会的会员均为中电协会员。</p>

            <p>2、申请入会者应向本分会秘书处提交由&ldquo;中电协&rdquo;统一印制的&ldquo;入会申请表&rdquo;及有关资料。入会申请及有关资料，经本分会秘书处审查同意后报理事会批准，分会秘书处同时将&ldquo;入会申请表&rdquo;复印件报&ldquo;中电协&rdquo;备案。</p>

            <p>3、分会受&ldquo;中电协&rdquo;委托颁发由&ldquo;中电协&rdquo;统一印制、编号的会员证，会员会籍从分会审批通过之日算起。</p>

            <p><strong>三、会员管理</strong></p>

            <p>1、单位会员的代表须是该单位的法定代表人或受其委托的一名在职主要负责人，参加本分会或&ldquo;中电协&rdquo;活动，并指派一名联络员。外商独资或外资控股企业可由法定代表人指派一名能通中文的人士作为其代表与本分会保持联系。</p>

            <p>2、会员如连续两年不交纳会费或不参加本分会活动，作为自动退会。会员严重违反&ldquo;中电协&rdquo;章程或本分会工作条例，经理事会表决通过，并报&ldquo;中电协&rdquo;核准后，予以除名。</p>

            <p>会员退会、除名应交回会员证且原交纳的会费不退，其在本会的职务、权 力和义务自行终止。</p>

            <p><strong>四、其他</strong></p>

            <p>1、企业改制后组成集团公司，其中部分企业为本分会会员并不等于集团公司为本分会会员；或者一个企业兼并或控股了本分会会员单位并不代表该企业为本分会会员。如要入会需办理入会手续。</p>

            <p>2、会员单位更换法人、单位名称、地址、联络员、联系方式或有产权变更等重大事宜等应及时书面通报分会秘书处，并报总会备案。</p>

            <p>本办法经2014年10月29日工业锅炉分会第六届第一次会员大会表决通过。</p>

        </div>
        <div class="static_wen02">Industrial Boiler Branch of China Electrical Equipment Industry Association
Membership Registration Administration</div>
        <div>In order to normalize membership registration administration, to promote self-construction and health development, we worked out this Membership Registration Administration pursuant to the Work Ordinance of CIBB and Membership Registration Administration of the CEEIA.</div>

<div>1 Member Qualification</div>

<div>All enterprises(including Sino-foreign&nbsp;joint&nbsp;venture, wholly foreign-owned, foreign-controlled&nbsp;corporations), who have got business license and production license, and who are boiler (including boiler parts) manufacturers,&nbsp; manufacturers of boiler auxiliary, and boiler related enterprises and public institutions, research institutions, and social organizations in the territory of China, who accepts and will abide by the Articles of Association and the Work Ordinances, and will fulfill member&rsquo;s obligation, be willing to pay membership dues, could apply for the membership of CIBB.</div>

<div>2 Enrollment Procedure</div>

<div>2.1 Entrusted by the CEEIA, the CIBB only accepts company members. All CIBB members are automatically CEEIA members.</div>

<div>2.2 Applicants should submit &ldquo;Member Application Form&rdquo; uniformly printed by CEEIA and relevant and some relevant documents to CIBB, after the application being granted by CIBB secretariat, it will be reported to the Council for approval, meanwhile CIBB secretariat will submit the copy of &ldquo;Member Application Form&rdquo; to CEEIA for record.</div>

<div>2.3 Entrusted by CEEIA, CIBB will issue the membership certificate which is printed and numbered by the CEEIA, membership start from the date when the application being granted by CIBB.</div>

<div>3 Membership Administration</div>

<div>3.1 The representative for the member should be the legitimate representative of the company or one of the incumbent chief leaders of the company authorized by the legitimate representative. The legitimate representative should take part in the activities by CIBB and the CEEIA, and should designate a liaison person. The legitimate representative for wholly foreign-owned or foreign-controlled&nbsp;corporations could assign a person, who is well versed in Chinese , to represent him or her to keep contact with CIBB.</div>

<div>3.2 If any member hasn&rsquo;t pay dues or hasn&rsquo;t taken part in any CIBB&rsquo;s activities for consecutive two years, it is regarded that it drops out of CIBB by himself. If any member, seriously violates the Articles of CEEIA or &nbsp;Work Ordinances of CIBB, CIBB could remove its name from the roll after subjecting to the council approval by voting and approval by CEEIA.</div>

<div>Removal or drop out member should return member&rsquo;s certificate to CIBB, and all dues paid before are not refunded. All posts the member take in CIBB, their rights and duties are terminated automatically.</div>

<div>4 Miscellaneous</div>

<div>4.1 For any enterprises member in CIBB, if after restructuring, it becomes part of a group company, that does not mean the group company could become CIBB member automatically. Or any enterprises who become parent company of the enterprises member in CIBB, that doesn&rsquo;t mean the parent company could become CIBB member automatically.&nbsp; If they are interested in becoming members, they need to apply and go through relevant procedures.</div>

<div>4.2 For alteration of important issues such as legal representative, company name, address, liaisons, contacts or change of property rights, the member should notify the CIBB secretariat in time. And the CIBB secretariat will report to the CEEIA for record. &nbsp;</div>

<div>The Membership Registration Administration was approved by the first member conference of Sixth Member Congress&nbsp; on 29<sup>th</sup>, Oct. 2014.</div>
</div>
    
</div>


