@{
    ViewBag.Title = "会费管理办法-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">

        <div class="static_wen01">
            中国电器工业协会工业锅炉分会<br />
            Welcome to become membership of Industrial<br />
            Boiler Branch Of China Electrical Equipment<br />
            Industry Association(CIBB)
        </div>
        <div class="static_tit">
            中国电器工业协会工业锅炉分会会费标准与会费管理办法
		</div>
        <div>
            <p>根据中国电器工业协会章程和工业锅炉分会工作条例规定，缴纳会费是会员单位必须履行的义务。会费的收入是分会开展工作、举行活动的主要经费来源，为了规范会员会费标准与会费缴纳、管理工作，根据中国电器工业协会会费标准与会费管理办法，特制定工业锅炉分会会费标准与会费管理办法。</p>

            <p><strong>一、会费标准及调整</strong></p>

            <p>1、会费标准</p>

            <p>会员单位不论规模大小，入会当年应交纳会费3500元。以后每年应按下列标准向分会交纳常年会费，其中：</p>

            <p>会员单位为：2000元</p>

            <p>理事单位为：3000元</p>

            <p>副理事长单位：10000元</p>

            <p>理事长单位：20000元</p>

            <p>2、会费调整</p>

            <p>需要对会费标准进行调整时，分会秘书处提出方案经理事会通过后报总会审核批准后执行。</p>

            <p><strong>二、会费缴纳时间</strong></p>

            <p>新会员入会时交纳当年会费；</p>

            <p>常年会费在每年第二季度前交纳。对久催仍不按规定交纳会费的单位按分会工作条例等有关规定处理并在行业中予以公布。</p>

            <p><strong>三、会费管理与使用</strong></p>

            <p>1、会费收缴由分会秘书处负责，分会设独立账户管理分会会费等分会合法收入。</p>

            <p>2、会费的使用按分会工作条例第五章的规定进行，并量入为出，合理使用。当年的经费结余留给分会下年度继续使用。</p>

            <p>3、会费管理接受中国电器工业协会、本分会理事会的监督和检查，并配合总会及时提交有关报表。</p>

            <p>本办法经2014年10月29日工业锅炉分会第六届第一次会员大会表决通过。</p>

        </div>
        <div class="static_wen02">Industrial Boiler Branch of China Electrical Equipment Industry Association
Membership Dues Administration
</div>
        <div>According to the Articles of CEEIA and the Work Ordinances of CIBB, payment of the membership dues is one of obligations of the membership companies. Dues income is the main financial source for CIBB conducting routine work and initiating activities. In order to normalize membership dues collection and administration, we worked out this Membership Dues Administration based on Membership Dues Rating and Membership Dues Administration of CEEIA.</div>

        <div>1 Membership Dues Rate and Adjustment Administration</div>

        <div>1.1 Membership Dues Rate</div>

        <div>Regardless of its scale and size, new admitting member should pay 3500RMB for the enrollment year&rsquo;s membership dues. For the subsequent years, member should pay annual dues as per following requirements.&nbsp;</div>

        <div>General members: 2000RMB</div>

        <div>Council members: 3000RMB</div>

        <div>Vice chairman of the council: 10000RMB</div>

        <div>Chairman of the council: 20000RMB</div>

        <div>1.2 Dues Rate Adjustment Administration</div>

        <div>If Dues Rate needs to be adjusted, CIBB secretariat should initiate the proposals and report to the council for approval. New Dues Rate will take effect after CEEIA reviewing and approval.</div>

        <div>2 Dues Collection</div>

        <div>2.1 New admitting member dues shall be payable when admitted to the CIBB.</div>

        <div>2.2 The annual dues shall be payable before the second season of each year. For members who defaulted in dues payments after long time reminding(warning), CIBB will take measures according to the Work Ordinances and publicize their name in the Industry.&nbsp;</div>

        <div>3 Dues Management and Utilization</div>

        <div>3.1 The secretariat of the CIBB will be responsible for the dues collection and management. An independent account shall be used for due collection and other legitimate incomes.</div>

        <div>3.2 The use of dues collected will be pursuant to Chapter 5 of Work Ordinances with the principle of rational use and balancing. The balance will be used for next fiscal year.&nbsp;</div>

        <div>3.3 Dues management should be subjected to supervising of CEEIA, the CIBB council. The secretariat of CIBB should cooperates with CEEIA and submit related reporting sheets.</div>

        <div>The Membership Dues Administration was approved by the first member conference of Sixth Member Congress on 29th, Oct. 2014.</div>

    </div>
</div>


