@{
    ViewBag.Title = "工作条例-中国电器工业协会工业锅炉分会";
}
@section css{
    @Styles.Render("~/Content/staticcss")
}
@section Header{
    @Html.Action("Top", "Home")
}
@section Footer{
    @Html.Action("Bottom", "Home")
}
@section scripts{
    @Scripts.Render("~/bundles/staticjs")
}

<div id="kj_static_01">
    @Html.Action("Left")
    <div id="static_right">

        <div class="static_wen01">
            中国电器工业协会工业锅炉分会<br />
            Welcome to become membership of Industrial<br />
            Boiler Branch Of China Electrical Equipment<br />
            Industry Association(CIBB)
        </div>
        <div class="static_tit">
            中国电器工业协会工业锅炉分会工作条例
        </div>
        <div>
            <p><strong>第一章&nbsp; 总 &nbsp;则</strong></p>

            <p>第一条 &nbsp;本分会名称为中国电器工业协会工业锅炉分会（以下简称分会），英文名称为 Industrial Boiler Branch of China Electrical Equipment Industry Association（英文缩写CIBB）。</p>

            <p>第二条 &nbsp;本分会是由工业锅炉制造和相关企业（如辅机、附件制造，工程 成套，销售安装等）及有关的科研、设计院所校单位等，在平等、自愿的基础上组成的非盈利性的、不受地区、部门隶属关系和所有制限制的全国性行业组织。</p>

            <p>第三条&nbsp; 本分会的宗旨是：高举中国特色社会主义伟大旗帜，以毛泽东思想、邓小平理论和&ldquo;三个代表&rdquo;重要思想为指导，深入贯彻落实科学发展观，坚持党的基本路线和纲领，遵守宪法、法律和法规和国家政策，遵守社会道德风尚，代表和维护全行业的共同利益及会员的合法权益；努力为会员服务，为行业服务，为政府服务。在政府和会员之间发挥&ldquo;纽带&rdquo;和&ldquo;桥梁&rdquo;作用，为振兴和发展我国工业锅炉行业做出积极贡献。</p>

            <p>第四条 &nbsp;本分会是中国电器工业协会（以下简称中电协）的分支机构，在中电协的领导下，按照中电协的委托和统一工作部署，结合本行业的特点和具体情况开展工作。</p>

            <p>第五条&nbsp; 本分会会址设在上海市，秘书处承担单位为上海工业锅炉研究所，地址：上海市闸北区宝昌路297号，邮编：200071。</p>

            <p><strong>第二章&nbsp; 业务范围</strong></p>

            <p>第六条 &nbsp;本分会的业务范围：</p>

            <p>1、向政府有关部门反映会员的愿望和要求，向会员传达政府的有关政策、法律、法规并贯彻执行；</p>

            <p>2、收集国内外本行业基础资料，开展行业情况调研，向政府提出本行业发展等方面的建议，协助政府组织编制本行业中长期发展规划，推动行业内相关方面的协调、持续发展；</p>

            <p>3、组织开展市场调研和预测，协助政府规范市场行为，维护会员合法权益，为会员开拓市场和建立公平、有序竞争的外部环境创造条件；</p>

            <p>4、协助政府主管部门或行业标准化技术机构等组织起草、修订本行业的国家和专业技术标准，协助组织制、修订本行业的协会标准，并推进标准的贯彻实施；</p>

            <p>5、推动和督促会员提高产品质量，协助政府搞好行业质量管理工作，协助企业对产品质量进行诊断和咨询；组织开展行业产品质量的分析和评价工作，收集和反馈本行业产品质量信息，推介节能减排产品、质量可信产品，培育推荐行业名牌产品；</p>

            <p>6、推进企业技术创新、节能减排和产品结构调整工作，开展技术咨询和交流，开展符合国家节能减排政策及产业发展需求的新技术、新产品、新工艺、新材料和科研成果的推广应用，接受委托组织科技成果鉴定和评审；</p>

            <p>7、组织建立本行业技术和经济信息收集统计网络，开展本行业的国内外技术、经济和市场信息的收集分析和沟通交流，并协助政府部门搞好本行业经济技术指标统计工作；组织开展本行业经济运行分析；</p>

            <p>8、与国外同行业相关组织建立正常的联系和工作交流机制，开展国际交流活动；与国内相关组织建立联系并开展交流合作。协助中电协组织举办本行业全国性展览（销）会，与有关单位联合举办国际展览（销）会；</p>

            <p>9、对本行业企业的税收、产品价格、筹融资、信贷等情况进行调查分析，为政府制定和调整相关政策提出建议。收集整理分析产品价格、税收等信息，组织开展行业产品价格协调工作；</p>

            <p>10、总结交流企业改革、企业管理的经验，开展企业管理咨询，推进现代化企业管理，协助政府部门推动企业和行业结构调整和优化；</p>

            <p>11、根据行业发展的需要，组织开展行业职工培训；对行业企业职工队伍素质、劳动管理、分配制度等进行调查分析，提出改革劳动、工资制度和加强职工队伍建设的建议；</p>

            <p>12、在产品进出口、利用外资等方面通报情况，提出建议；维护国家和行业的整体利益，维护产业安全，受政府和中电协委托开展本行业的反倾销工作；</p>

            <p>13、实行行业自律，组织制订行规行约，并督促会员遵守；</p>

            <p>14、编辑行业经济、技术、产品资料，出版行业内部和面向社会的有关刊物；</p>

            <p>15、承办政府部门、中电协和会员单位要求办理的有关事项。</p>

            <p><strong>第三章&nbsp; 会 &nbsp;员</strong></p>

            <p>第七条&nbsp; 本分会受中电协委托，接纳单位会员和个人会员，入会的会员均为中电协会员。</p>

            <p>第八条&nbsp; 凡依法取得工商营业执照和生产许可证，在中国境内从事锅炉（含部件）制造、锅炉辅机制造、销售、安装、改造等业务的企业（包括中外合资、 外商独资或外资控股企业）以及与本行业相关的企事业单位、科研院所、大专院校和社会团体等，承认和遵守中电协章程和本工作条例，均可申请入会。单位会员的代表须是该单位的法定代表人或受其委托的一名在职主要负责人，参加本分会或中电协活动，并指派一名联络员。外商独资或外资控股企业可由法定代表人指派一名能通中文的人士作为其代表与本分会保持联系。</p>

            <p>第九条 申请入会者应向本分会秘书处提交由中电协统一印制的&ldquo;入会申请表&rdquo;及有关资料。入会申请及有关资料，经本分会秘书处审查同意后报理事会批准，分会秘书处同时将&ldquo;入会申请表&rdquo;复印件报中电协备案。</p>

            <p>分会受中电协委托颁发由中电协统一印制、编号的会员证，会员会籍从分会审批通过之日算起。</p>

            <p>第十条&nbsp; 会员权利：</p>

            <p>1、优先参加本分会举办的各项活动；</p>

            <p>2、优先并优惠享用本分会提供的各项服务；</p>

            <p>3、有平等的表决权、选举权和被选举权；</p>

            <p>4、有权对本分会领导人员、工作人员及分会的工作提出批评、质询、建议，并进行监督；</p>

            <p>5、对涉及本行业内需要协调的问题，以及涉及其他行业和部门之间需要协调的重大问题以至需要诉讼的问题，有权要求本分会予以协调；</p>

            <p>6、优先获得本分会发行的刊物、技术经济资料及其他信息；</p>

            <p>7、入会自愿，退会自由。</p>

            <p>第十一条&nbsp; 会员义务：</p>

            <p>1、遵守国家法律、法规、中电协章程和本分会工作条例及行规行约，执行中电协和本分会的决议，维护中电协和本分会的荣誉和合法权益；</p>

            <p>2、积极参加中电协和本分会组织的各项活动，认真完成中电协和本分会委托的各项工作；</p>

            <p>3、按要求及时向分会提供所需的有关信息和资料；</p>

            <p>4、按规定交纳会费；</p>

            <p>5、接受本分会的评议或调解，积极协助本分会对涉及本单位有关利益问题的协调；</p>

            <p>6、为维护中电协、分会的团结统一，不组织、不参加有损于中电协、分会的一切活动。</p>

            <p>第十二条&nbsp; 凡申请入会或退会均应履行中电协和本分会规定的手续。</p>

            <p>第十三条&nbsp; 会员如连续两年不交纳会费或不参加本分会活动，作为自动退会。会员严重违反中电协章程或本分会工作条例，经理事会表决通过，并报中电协核准后，予以除名。会员退会、除名应交回会员证且原交纳的会费不退，其在本会的职务、权利和义务自行终止。</p>

            <p><strong>第四章&nbsp; 组织结构</strong></p>

            <p>第十四条 &nbsp;本分会的最高权力机构是会员大会。理事会每届四年，因特殊 情况须提前或延期换届时，由理事会表决通过，报中电协同意，但延期换届最长不超过一年。</p>

            <p>第十五条 &nbsp;会员大会每二年举行一次。会员大会由理事会召集。理事会或30%以上会员认为有必要时可召开临时会员大会。会员大会必须有2/3 以上的会员参加方能召开，会员大会决议由到会会员数的半数以上表决通过方为有效。</p>

            <p>第十六条&nbsp; 会员大会的职权：</p>

            <p>1、制定和修改分会工作条例；</p>

            <p>2、在中电协规定的范围内确定收取会费的标准；</p>

            <p>3、审议理事会工作报告和财务报告，确定分会的工作方针和任务；</p>

            <p>4、审议并批准行规行约；</p>

            <p>5、选举和罢免理事；</p>

            <p>6、决定分会组织机构的设置；</p>

            <p>7、讨论并决定分会的其他重大事宜。</p>

            <p>&nbsp;</p>

            <p>第十七条&nbsp; 理事会是会员大会的执行机构，会员大会闭会期间由理事会负责分会的全部工作，执行会员大会的决议，对会员大会负责，对外代表分会。</p>

            <p>第十八条&nbsp; 理事会成员由会员在充分酝酿（理事会成员必须在行业中有代表性，有一定规模，有较好经济效益，遵守行规行约，热心行业工作等的企事业单位）后由会员大会民主选举产生，任期四年，可连选连任。理事会成员数一般情况下为会员总数的1/4左右。</p>

            <p>理事单位的法定代表人或受其委托的其他负责人即为本分会理事。理事应积极参加本分会组织的相关活动和每年至少一次的理事会议，凡连续两次缺席理事会议者，其理事资格将被取消。理事因故离开本单位或退休，理事单位须调整理事人选并书面通知本分会。</p>

            <p>理事会每年至少举行一次会议，遇特殊情况时也可以采取通讯形式召开。理事会由理事长召集，必须有2/3以上的理事出席方可召开，理事会决议必须获得到会理事的2/3以上表决通过方为有效。</p>

            <p>第十九条&nbsp; 理事会职责：</p>

            <p>1、执行会员大会决议，对会员大会负责并报告工作和财务状况；</p>

            <p>2、组织召开会员大会；</p>

            <p>3、选举和罢免理事长、常务副理事长、副理事长、秘书长，审议理事的变更；</p>

            <p>4、根据理事长的提名选举秘书长；根据秘书长提名，决定副秘书长的聘任；</p>

            <p>5、审议理事会工作报告；审核通过分会年度工作计划和工作总结，制定内部管理制度；</p>

            <p>6、决定分会名誉理事长和顾问的设立和聘任；</p>

            <p>7、领导分会秘书处开展工作；</p>

            <p>8、受中电协委托，决定会员的吸收和除名；</p>

            <p>9、审查经费收支情况；</p>

            <p>10、决定本分会秘书处内部机构的设置、撤销、合并等事宜及其他重要事项。</p>

            <p>第二十条 &nbsp;本分会设理事长1名、常务副理事长1名、副理事长若干名、秘书长1名。理事长、副理事长在理事中选举产生。理事长、常务副理事长、副理事长、秘书长的任期均为四年，可连选连任。理事长、常务副理事长任期最长不得超过二届。因特殊情况须延长任期的，须经会员大会2/3以上会员通过，报中电协审查同意后，方可任职。</p>

            <p>本分会可设名誉理事长和顾问。名誉理事长和顾问由在行业中享有较高威望的人士担任。名誉理事长和顾问由理事长提名，理事会通过，任期四年，可连任。名誉理事长和顾问可参加正副理事长会议和理事会活动。</p>

            <p>第二十一条&nbsp; 本分会的理事长、常务副理事长、副理事长、秘书长必须具备下列条件：</p>

            <p>l、坚持党的路线、方针、政策，政治素质好；</p>

            <p>2、在本行业内有较大影响，有较强的组织、协调和决策能力，热心行业工作，办事公正；</p>

            <p>3、理事长、常务副理事长、副理事长最高任职年龄不超过70周岁，秘书长最高任职年龄不超过65周岁；</p>

            <p>4、身体健康，能坚持正常工作；</p>

            <p>5、未受过剥夺政治权利的刑事处罚；</p>

            <p>6、具有完全民事行为能力。</p>

            <p>第二十二条&nbsp; 理事长职责：</p>

            <p>1、召集和主持理事会、理事会闭会期间领导本分会开展工作；</p>

            <p>2、检查会员大会、理事会、理事会长会议决议的落实情况；</p>

            <p>3、提名秘书长人选，由理事会选举产生；</p>

            <p>4、根据秘书长提名，决定秘书处内部机构主要负责人；</p>

            <p>5、代表本分会签署有关重要文件；</p>

            <p>6、可委托常务副理事长行使上述有关职权。</p>

            <p>第二十三条&nbsp; 常务副理事长协助理事长研究和处理工作中的重大问题。</p>

            <p>第二十四条 &nbsp;本分会的常设机构为秘书处，负责分会的日常工作。根据需要，秘书处可设立办公室、信息部、科技开发部、咨询部、标准质量部、生产经营管理部、价格协调部等部门，各部门主任由秘书长提名，理事长批准。</p>

            <p>第二十五条 &nbsp;秘书处由秘书长1名、副秘书长若干名及工作人员若干名组成。秘书长、副秘书长参加理事会活动。</p>

            <p>第二十六条 &nbsp;秘书长职责：</p>

            <p>1、主持本分会常设办事机构（秘书处）的日常工作；</p>

            <p>2、组织实施分会年度工作计划；</p>

            <p>3、提出分会秘书处内部设置、撤销、合并建议，报理事会批准；</p>

            <p>4、提出副秘书长人选以及秘书处内部工作部门的负责人选，决定秘书处内部机构工作人员的聘用；</p>

            <p>5、提出本分会的各项规章制度和管理办法；</p>

            <p>6、处理其他日常事务。</p>

            <p><strong>第五章&nbsp; 资产管理、使用原则</strong></p>

            <p>第二十七条&nbsp; 本分会根据中电协规定管理合法占有的财产，并按规定建立单独核算的财务制度。</p>

            <p>第二十八条&nbsp; 本分会经费来源：</p>

            <p>1、会员交纳的会费；</p>

            <p>2、有偿服务工作的收人；</p>

            <p>3、国内外团体、单位、个人的资助和捐赠；</p>

            <p>4、政府部门或中电协的拨款和补助；</p>

            <p>5、利息；</p>

            <p>6、其他正当收入。</p>

            <p>第二十九条&nbsp; 本分会经费用于下列项目：</p>

            <p>1、为实现本分会任务开展的活动支出；</p>

            <p>2、刊物、信息、资料、书报等费用；</p>

            <p>3、分会工作人员报酬，其中人员津贴发放由理事会决定；</p>

            <p>4、本分会所需要的办公设施及办公用品支出；</p>

            <p>5、表彰分会工作人员及活动积极分子的奖励等费用；</p>

            <p>6、其他正当支出。</p>

            <p>第三十条 &nbsp;本分会按国家有关规定收取会员会费，会费标准的制定或修改经会员大会通过后生效。按中电协规定本分会经费由分会秘书处负责管理，接受理事会监督，定期向中电协、分会理事会、会员大会报告收支情况。</p>

            <p>第三十一条 &nbsp;本分会资产管理必须执行国家规定的财务管理制度，保证会计资料合法、真实、准确及完整。</p>

            <p>第三十二条 &nbsp;本分会配备具有专业资格的会计人员。会计不得兼任出纳。 会计人员必须进行核算，实行会计监督。会计人员调动工作或离职时，必须与交接人员办清交接手续。</p>

            <p>第三十三条&nbsp; 本分会的资产，任何单位、个人不得侵占、私分和挪用。</p>

            <p>第三十四条&nbsp; 分会换届或更换理事长、秘书长之前，必须进行财务审计。</p>

            <p><strong>第六章&nbsp; 终止程序及终止后的财产处理</strong></p>

            <p>第三十五条 &nbsp;本分会完成宗旨或由于分立、合并等原因需要注销时，由理事会提出终止动议。</p>

            <p>第三十六条 &nbsp;终止动议须经会员大会表决通过，报中电协审核同意并履行完相关程序后即终止。</p>

            <p>第三十七条&nbsp; 本分会终止前，须在中电协指导下成立清算组织，清理债权债务，处理善后事宜。清理期间，不开展清算以外的活动。</p>

            <p>第三十八条&nbsp; 本会终止后的剩余财产，在中电协的监督下，按照国家有关规定，用于发展与本分会宗旨相关的事业。</p>

            <p><strong>第七章&nbsp; 工作条例的修改程序</strong></p>

            <p>第三十九条&nbsp; 本分会工作条例的修改，须经理事会表决通过后，在会员大会召开前报中电协审查同意，经会员大会审议通过。</p>

            <p>第四十条&nbsp; 本分会修改的工作条例在会员大会通过后15日内报中电协，经中电协核准后生效。</p>

            <p><strong>第八章&nbsp; 附 &nbsp;则</strong></p>

            <p>第四十一条&nbsp; 本工作条例经2014年10月29日工业锅炉分会第六届第一次会员大会表决通过。</p>

            <p>第四十二条&nbsp; 本工作条例解释权归本分会理事会。</p>

            <p>第四十三条&nbsp; 本分会工作条例自中电协核准之日起生效。</p>

        </div>
        <div class="static_wen02">Industrial Boiler Branch of China Electrical Equipment Industry Association
Work Ordinances
</div>

        <div><strong>Chapter 1 General&nbsp;</strong></div>

        <div>Article 1 Industrial Boiler Branch means 中国电器工业协会工业锅炉分会in Chinese, i.e. Industrial Boiler Branch of China Electrical Equipment Industry Association(CIBB) in English.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 2 &nbsp;CIBB is composed of IB manufacturers and enterprises related to the industry(such as auxiliary equipment manufacturers , engineering enterprises and marketing &amp; installation companies) and related research and design institutes, formed on the base of equality and willingness. It is a non-profit nationwide organization, no matter where its member located, no matter what kind of ownership system the member belong to , and no matter what administrative department the member is subordinated to.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 3 &nbsp;Our tenets are : holding high the great banner of &ldquo;the socialism with Chinese characteristics&rdquo;; guided by Maoism, Deng Xiaoping Theory and Thoughts of Three Represents, implementing and fulfilling the Idea of Scientific Development; sticking to the Party&rsquo;s basic line and guiding principle; abiding by National Constitution, Laws, Regulations and state policies, following social virtues, representing and protecting common interests and member&rsquo;s legal rights, doing our best to serve our members, serve the whole industry as well as serve the relative government departments. Functioning as &ldquo;tie&rdquo; and &ldquo;bridge&rdquo; between the government and members, contributing to the development of our Industrial Boiler Industry.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 4 Industrial Boiler Branch (hereinafter called as &ldquo;CIBB&rdquo;), which is subordinated to China Electrical Equipment Industry Association (hereinafter called as &ldquo;CEEIA&rdquo;), entrusted by the CEEIA, carries out concrete work by taking IB industry specific situation into consideration under the leadership of CEEIA.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 5 &nbsp;The secretariat of CIBB is located in the premises of and sponsored by Shanghai Industrial Boiler Research Institute(Address: No. 297 Baochang Rd., Zha Bei District, Shanghai, Post code: 200071)</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 2 Business Scope</strong></div>

        <div>&nbsp;</div>

        <div>Article 6 CIBB business scope:&nbsp;</div>

        <div>1. Give reports to the related government departments delivering members&rsquo; desires and expectations, and meanwhile transmit related policies, laws and regulations of the government to our members and carry out the implementation.</div>

        <div>&nbsp;</div>

        <div>2. Collect domestic and abroad IB data, carry out investigation on IB industry situation, propose suggestions related to IB industry development to the related government departments; give assistance to the government departments to work out the mid-long term development plan of IB industry ; coordinate various sectors in the IB industry and promote the sustainable development of IB industry.</div>

        <div>&nbsp;</div>

        <div>3. Assist government departments to discipline marketing behaviors, safeguard the legal interests of members, create opportunities for members&rsquo; marketing exploring and build up a well-organized fair competitive environment.</div>

        <div>&nbsp;</div>

        <div>4. Assist government administration departments or Industrial Standardization Organizations to draft or revise national or professional IB-related codes and standards ;assist to organize experts to draft or revise CIBB standards, and put them into practice.&nbsp;</div>

        <div>&nbsp;</div>

        <div>5. Push forward and supervise members to promote the product quality. Assist government to do the industry quality management. Assist enterprises making analysis and counsel on enterprises&rsquo; products; Organize to carry out analysis and appraisal on IB related products. Collect IB related product information and give feed-backs. Promote energy-conservation and emission-reduction products, quality products, cultivate and recommend famous brand IB related products.</div>

        <div>&nbsp;</div>

        <div>6. Encourage enterprises&rsquo; technological renovation, push forward energy-conservation and emission reduction and the restructure of product types; carry out technological consultation and communication; promote wider applications of industrial achievements which satisfy our national policy of energy-conservation and emission-reduction and the needs of IB industry development, such as new products, new technology, new technics, and new materials; accept entrustment for the evaluation and appraisal of technical achievements.&nbsp;</div>

        <div>&nbsp;</div>

        <div>7．Organize to build a network for technological and economic information collecting and statistical analysis, to collect &amp; analyze information related to IB technologies, economies and marketing, and organize communication; give assistance to the government to complete IB industry statistical work (econo-technical index); organize to carry out the economic operation analysis of IB industry.</div>

        <div>&nbsp;</div>

        <div>8. Establish normal liaison and communication mechanism with counter foreign associations, and carry out international communication activities; establish contacts with related organizations in domestic and carry out cooperation and communication. Assist the CEEIA to organize national exhibitions and cosponsor the international exhibition with other companies.</div>

        <div>&nbsp;</div>

        <div>9. Make investigation and analysis on issues such as tax levies, product price, funding and financing, lending and credit etc.. Make proposals on these issues for reference for government policy-making or policy-adjusting. Collect price and tax levy information and make analysis. Organize and coordinate product prices in the industry;</div>

        <div>&nbsp;</div>

        <div>10 Summarize and promulgate experience on enterprises&rsquo; reform, enterprises&rsquo; management, make counsel on enterprise management, promote management modernization; give assistance to the government departments to push forward adjustment and optimization of industry structure.&nbsp;</div>

        <div>&nbsp;</div>

        <div>11 To satisfy the industrial development&rsquo;s need, organize relevant staff training program, Make investigation and analysis on employee qualification, labor management, and remuneration system; Make proposals on labor and remuneration systems and the building of employee forces.&nbsp;</div>

        <div>&nbsp;</div>

        <div>12 Circulate information relating to export, &nbsp;import and utilizing foreign investment, put forward suggestions to protect national and industry&rsquo;s interests, Safeguard industry security. &nbsp;Authorized by the government or entrusted by CEEIA, carry out anti-dumping activities in the industry.</div>

        <div>&nbsp;</div>

        <div>13 Carry out industrial self-discipline, organize to enact industrial rules, and put them into practice.&nbsp;</div>

        <div>&nbsp;</div>

        <div>14 Compile documents relating to industrial economies, technologies and products. Publish restricted IB publication and public IB journals .&nbsp;</div>

        <div>&nbsp;</div>

        <div>15 Undertake certain tasks entrusted by government departments, the CEEIA or any members;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 3 Membership</strong></div>

        <div>&nbsp;</div>

        <div>Article 7 &nbsp; CIBB, entrusted by the CEEIA, accepts the application from companies and individuals. All CIBB members are automatically CEEIA members.</div>

        <div>&nbsp;</div>

        <div>Article 8 &nbsp;All enterprises(including Sino-foreign joint venture, wholly foreign-owned, foreign-controlled corporations), who have got business license and production license, and who are boiler (including boiler parts) manufacturers, &nbsp;manufacturers of boiler auxiliary, and boiler related enterprises and public institutions, research institutions, and social organizations in the territory of China, who accepts and will abide by the Articles of Association and the Work Ordinances, and will fulfill member&rsquo;s obligation, be willing to pay membership dues, could apply for the membership of CIBB. The representative for the member should be the legitimate representative of the company or one of the incumbent chief leaders of the company authorized by the legitimate representative. The legitimate representative should take part in the activities by CIBB and the CEEIA, and should designate a liaison person. The legitimate representative for wholly foreign-owned or foreign-controlled corporations could assign a person, who is well versed in Chinese , to represent him or her to keep contact with CIBB.</div>

        <div>&nbsp;</div>

        <div>Article 9 Applicants should submit &ldquo;Member Application Form&rdquo; uniformly printed by CEEIA and relevant and some relevant documents to CIBB, after the application being granted by CIBB secretariat, it will be reported to the Council for approval, meanwhile CIBB secretariat will submit the copy of &ldquo;Member Application Form&rdquo; to CEEIA for record. CIBB will issue the membership certificate which is printed and numbered by the CEEIA, membership start from the date when the application being granted by CIBB.</div>

        <div>&nbsp;</div>

        <div>Article 10 CIBB members enjoy following privileges.&nbsp;</div>

        <div>1. Enjoy priority to take part in various activities held by CIBB;</div>

        <div>2. To enjoy all kinds of service offered by CIBB with priority right and preferential price;</div>

        <div>3. Having vote right, election right and be elected right;</div>

        <div>4. Having proposal right, critical right, supervising right, and inquiry right toward leaders or &nbsp;staffs of CIBB, as well as on the work of CIBB;</div>

        <div>5. Having the right to ask for CIBB&rsquo;s coordination to solve issues which occurred in the IB industry, to solve big issues (including some litigation issues) involved in other industries or other departments. &nbsp;</div>

        <div>6. Having privilege to obtain journals, economical and technical material and other information published by the CIBB</div>

        <div>7. Having freedom to drop out and apply membership of their own accord;</div>

        <div>&nbsp;</div>

        <div>Article 11 Member must fulfill following obligations:</div>

        <div>1. Abide by national laws, codes, Articles of Association, CIBB Work Ordinances, industrial regulations and agreements. Carry out CIBB&rsquo;s resolutions, uphold CIBB&rsquo;s reputation and legitimate interests.&nbsp;</div>

        <div>2. Actively take part in all activities organized by CIBB, accomplish all works entrusted or assigned by CIBB.&nbsp;</div>

        <div>3. As per requirements, provide basic information relating to production technologies and business management and various documents available for communicating.&nbsp;</div>

        <div>4. Pay membership dues on schedule;</div>

        <div>5. Accept CIBB&rsquo;s consultative comments and arbitration, actively assist CIBB to coordinate issues dealing with their company&rsquo;s benefits and interests;</div>

        <div>6. Never take part in any activities which will be detrimental to CIBB and the CEEIA in order to maintain the unification of CIBB and the CEEIA.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 12 Application procedure and drop out procedure should comply with the formalities set by CIBB and the CEEIA.</div>

        <div>&nbsp;</div>

        <div>Article 13 If any member, failed to comply with Work Ordinances or be unwilling to fulfill member&rsquo;s obligations, CIBB council could persuade the company to drop out or remove its name from the roll. If any member hasn&rsquo;t pay dues or hasn&rsquo;t taken part in any CIBB&rsquo;s activities for consecutive two years, it is regarded that it drop out of CIBB by himself. Drop out member should return member&rsquo;s certificate to CIBB, and all dues paid before are not refunded.&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 4 Organization</strong></div>

        <div>&nbsp;</div>

        <div>Article 14 The most powerful organization of CIBB is the Member&rsquo;s Congress.&nbsp;</div>

        <div>The service term of CIBB council is of 4 years. In special case, the new round of CIBB council could be shifted on postponed schedule or ahead of schedule, it should be voted through by the CIBB Council and subjected to the approval of the CEEIA, but no longer than one year delay should be allowed.&nbsp;</div>

        <div>Article 15 The Member&rsquo;s Conference will be held in every other year. &nbsp;CIBB council take responsibility to prepare the Member&rsquo;s conference. Contingent member&rsquo;s conference could be held if more than 30% members think it is necessary. Member&rsquo;s conference could be held only with over 2/3 members taking part in. All resolutions should be voted by attending representative, and those which won over 1/2 votes will be regarded as effective resolutions. &nbsp;&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 16 &nbsp;Rights and duties of the Member&rsquo;s Conference(Congress):&nbsp;</div>

        <div>1. work out and revise the CIBB&rsquo;s Work Ordinance;</div>

        <div>2. reach agreement on membership fees under the frame specified by the CEEIA;</div>

        <div>3.Audit and go through the CIBB&rsquo;s work report and financial report. Determine CIBB working policies and tasks;</div>

        <div>4. Discuss and approve industrial rules and regulations.</div>

        <div>5. Elect or dismiss council members</div>

        <div>6. Reach agreement on the CIBB organization&rsquo;s structure</div>

        <div>7. Discuss and approve other important issues of the CIBB</div>

        <div>&nbsp;</div>

        <div>Article 17 The council is the executive organization of the Member&rsquo;s Congress and represent the CIBB. During the adjournment, the council takes responsibility for all of work, fulfill the resolution, and be responsible to all members. The council represent the CIBB to external organizations and institutions.</div>

        <div>&nbsp;</div>

        <div>Article 18 The council members are elected by Member&rsquo;s Conference&rsquo;s attending representatives after fully considering all factors( council member should be representative, should have certain scale, should have good economic efficiency, should abide by industry regulations and be restraint, should be ardent to the association work). The council members will serve a term of four years, and could be elected to serve consecutive terms. The council members, normally should be around one fourth of the whole members.</div>

        <div>The legal representative or other entrusted person of council member corporation is taken granted as the council directors. Council member representatives should actively take part in relevant events organized by the CIBB and council meetings which will be held at least once a year. The absence of council meeting twice in a row could cause the member of the council being disqualified. In case the person who represents the council member leaves the corporation for any reason or retired, alteration could be done by the council member and the CIBB should be informed in written form.&nbsp;</div>

        <div>The council should held session every year. In exceptional case the session would be held in the form of electric communications. The council chairman should be responsible to convene the session. And the session should only be held with over 2/3 council members&rsquo; attending. The council&rsquo;s resolution will be regarded as effective only after two thirds of the attending casting favorite votes.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 19 The council&rsquo;s duties:</div>

        <div>1. Fulfill resolutions passed by Member&rsquo;s Conference; Take responsibility for the Member Congress and give work reports and financial reports to the Member&rsquo;s Conference.</div>

        <div>2. Prepare and organize member&rsquo;s Conference,&nbsp;</div>

        <div>3. Elect or rescind chairman, executive vice chairman, vice chairman, general secretary, discuss and approve the alteration of council members;</div>

        <div>4, Elect the general secretary, which is nominated by the Chairman; Employ the deputy general secretary, which is nominated by the general secretary.</div>

        <div>5. Audit the council&rsquo;s work report; audit and approve CIBB annual work plan and work summary, work out internal administration institutions.</div>

        <div>6. Having the power to decide the set-up of posts such as emeritus chairman and consultants and their employments.&nbsp;</div>

        <div>7. Make decisions related to the configuration (repeal /coalition of internal departments) of the secretariat and lead the secretariat to carry out works.&nbsp;</div>

        <div>8. Make decisions to admit new members and make proposal to remove member&rsquo;s name from the roll.&nbsp;</div>

        <div>9. Review the balance of the funds.</div>

        <div>10. Make decisions related to important issues of CIBB.</div>

        <div>&nbsp;</div>

        <div>Article 20 CIBB has one Chairman, one deputy chairman, several vice chairmen, a secretary general. Chairman, deputy chairman and vice chairmen are elected from the council members. The chairman, deputy chairman , vice chairmen and secretary general will serve four-year terms and they can be elected to consecutive terms. Chairman and deputy chairman could serve maximum two rounds of terms. Chairman&rsquo;s tenure of office only can be extended if in case, it is needed and be subjected to the winning 2/3 votes of the Member&rsquo;s Conference and be subjected to the consent of the CEEIA.&nbsp;</div>

        <div>CIBB could have emeritus chairman and consultants. Emeritus chairman and consultants could be taken by persons who enjoy high reputation in the industry. Emeritus chairman and consultants, nominated by the chairman, subjected to the approval of the council, will serve four-year terms and they could serve to consecutive terms. Emeritus chairman and consultants could take part in meetings of chairman and vice chairmen and council activities.&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 21 &nbsp;The Chairman, the deputy chairman, vice chairmen and secretary general should posses following qualification:</div>

        <div>1 Insist Communist Party&rsquo;s lines, Guideline, Policies, have good political cultivation.</div>

        <div>2 Have great influence upon the industry, have strong capability in organizing, coordinating, and decision-making. Be zeal for the industrial work, honestly handle all works.</div>

        <div>3 Chairman, deputy chairman and vice chairmen should not be over 70 years old. Secretary -General should not be over 65 years old.</div>

        <div>4 In good health, can work properly</div>

        <div>5 Has not been subjected to criminal punishment of deprivation of political rights</div>

        <div>6 Has full capacity for civil conduct.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 22 Chairman&rsquo;s duties</div>

        <div>1 Call on and preside council&rsquo;s session. During the adjournment of the council, lead CIBB to carry out routine work.</div>

        <div>2. Supervise fulfillment of resolutions passed by Members Conference, council and council chairmen meetings.&nbsp;</div>

        <div>3. Nominate Suitable Candidates for the Secretary General Post. The Secretary General will be elected by the Council.&nbsp;</div>

        <div>4 Make decision whether or not to employ any division chiefs, who are nominated by the General Secretary.&nbsp;</div>

        <div>5 Sign important documents on behalf of the CIBB.&nbsp;</div>

        <div>6 Could entrust deputy chairman to implement above-mentioned duties.</div>

        <div>&nbsp;</div>

        <div>Article 23 Deputy chairman will assist chairman to do relevant research and deal with major issues in the work.</div>

        <div>&nbsp;</div>

        <div>Article 24</div>

        <div>The secretariat is the standing body of the CIBB, be responsible for the routine work. Several departments such as office, information department, technological development, consulting department, standards and quality control department, production and business administration department, price coordination department, etc could be established under the secretariat as needed. Department chiefs could be nominated by the general secretary and approved by the chairman.</div>

        <div>&nbsp;</div>

        <div>Article 25&nbsp;</div>

        <div>The secretariat has one general secretary, several vice general secretaries and several staffs. The general secretary and vice general secretaries will be involved in council activities.</div>

        <div>&nbsp;</div>

        <div>Article 26&nbsp;</div>

        <div>General Secretary&rsquo;s duties:</div>

        <div>1. Be responsible for the routine work of the secretariat.</div>

        <div>2. Implement yearly work plan.</div>

        <div>3. Make proposal on the set-up of secretary divisions , revoking and emerging and report to council for approval.&nbsp;</div>

        <div>4. Make proposals on the nomination of vice general secretaries and division chiefs; Decide employment of secretariat staffs.</div>

        <div>5. Propose bylaws and administration regulations for the CIBB</div>

        <div>6. Handle other routine affairs.&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 5 Asset Management and Utilization</strong></div>

        <div>Article 27 The CIBB will manage legitimate properties according to CEEIA regulations. and establish the Separate accounting financial system according to relevant regulations.</div>

        <div>&nbsp;</div>

        <div>Article 28 Financial resources</div>

        <div>1. Membership dues&nbsp;</div>

        <div>2. Incomes by offering payable services.</div>

        <div>3. Donations and endowment by social groups, companies, or individuals from domestic and abroad.&nbsp;</div>

        <div>4. Subsidies or allocations by Government Departments or the CEEIA.&nbsp;</div>

        <div>5. Interests;&nbsp;</div>

        <div>6. Other legitimate income</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 29 &nbsp;Outlay</div>

        <div>1. Disbursement on activities targeted at fulfilling tasks</div>

        <div>2. Expenditures on journals, information, documents, newspapers.&nbsp;</div>

        <div>3. Staffs&rsquo; remunerations, of which the allowance should be granted by the council.</div>

        <div>4. Expenditure on office facilities and consuming goods.</div>

        <div>5. Expense on rewarding of staffs and activist.</div>

        <div>6. Other legitimate outlay.</div>

        <div>&nbsp;</div>

        <div>Article 30 &nbsp;CIBB will collect membership dues according to national related regulations. The rating for membership dues should be subjected to the approval of the Member&rsquo;s Conference. The secretariat will take responsibility for the book-keeping, and outlay should be within the business scope stipulated in the Ordinance. Subjected the supervision of the council , the secretariat will reports the balance sheets to the Conference, council or standing council periodically.&nbsp;</div>

        <div>Article 31 The asset management will be strictly stick to National Financial stipulation, establishing strict financial policy, to ensure book-keeping documents legal, authentic, accurate and complete.</div>

        <div>&nbsp;</div>

        <div>Article 32 Qualified accountants will be employed for the CIBB. The book-keepers and cashier should be different staffs. Book-keepers should perform auditing, realize accounting monitoring. Before reassignment or resignation, accountants should accomplish hand-over procedures.</div>

        <div>&nbsp;</div>

        <div>Article 33 No entity, nobody could embezzle the CIBB&rsquo;s properties. Financial audit should be performed each time before the alteration of the council, chairman or secretary-general.</div>

        <div>&nbsp;</div>

        <div>Article 34 Financial audit should be performed each time before the alternation of the council, chairman or secretary general.&nbsp;</div>

        <div>&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 6 Termination and the Property disposal after the termination</strong></div>

        <div>Article 35 When CIBB operation needs to be ended if CIBB has accomplished its tenets or due to some other reasons such as split or coalition of organizations, the ending proposal should be put forward by the Council.</div>

        <div>&nbsp;</div>

        <div>Article 36 The ending proposal should be subjected to the approval of the Member&rsquo;s Conference by voting. &nbsp;After being reviewed and approved by CEEIA and passing through relevant procedures, termination will take effect.&nbsp;</div>

        <div>&nbsp;</div>

        <div>Article 37 Before termination of CIBB, CIBB should establish liquidation organization to settle claims and debts, deal with the aftermath under the guidance of the CEEIA. During liquidation period, CIBB will not carry out work except liquidation.</div>

        <div>&nbsp;</div>

        <div>Article 38 The remain assets of the CIBB after the ending operation will be used for the undertakings related to the tenets of CIBB according to relevant State regulations and under the supervision of the CEEIA.&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 7 Revision of the work Ordinance&nbsp;</strong></div>

        <div>Article 39 For modified work ordinance, before it is submitted to the member conference for reviewing and approving , it should be subjected to the approval by the council by voting and the consent of the CEEIA.&nbsp;</div>

        <div>Article 40 The modified work ordinance by CIBB should be submitted to the CEEIA for approval within 15 days after it is approved by the member conference. &nbsp;The Work Ordinance will take effect immediately after the approval of the CEEIA.&nbsp;</div>

        <div>&nbsp;</div>

        <div><strong>Chapter 8 Supplemental rules</strong></div>

        <div>Article 41 &nbsp;The ordinances was approved by the First Congress by voting on Aug. 20th, 2010.</div>

        <div>Article 42 The Council owns the interpretation right on the Work Ordinances.</div>

        <div>Article 43 The Work Ordinance will take effect immediately after the approval of the CEEIA.&nbsp;</div>

    </div>
</div>


