<div id="top" class="fix00">
    <div id="widtop01"></div>
    <div id="widtop02">
        <div id="kj01_01">
            <div id="dlzc">
                <div class="zc"><a href="@Url.Action("Register", "Registration")" target="_blank">注册</a></div>
                <div class="dl" id="login"><a href="#">登录</a></div>
                <div class="tc" id="loginout" style="display:none"><a href="#">退出</a></div>
            </div>
            <div id="tip" style="display:none"></div>
            <div id="field">
                <div><input type="password" size="12" maxlength="20" placeholder="登录密码" class="dlinput" id="password"></div>
                <div><input type="text" size="12" maxlength="20" placeholder="登录名称" class="dlinput" id="username"></div>
            </div>
            <div><a href="@Url.Action("Media")">媒体支持</a>&nbsp; &nbsp; <a href="@Url.Action("Contact")">联系方式</a>&nbsp; &nbsp;  <a href="/" target="_blank">行业协会</a>&nbsp; </div>
        </div>
    </div>
    <div id="widtop03">
        <div id="kj_widtop03_01">
            <div><img src="/Content/images/forum/bt01.gif" width="439" height="49" alt="" /></div>
            <div id="kj_widtop03_01_02">
                <div><a href="@Url.Action("Index")">首&nbsp; &nbsp; 页</a></div>
                <div><a href="@Url.Action("Keynote")">主题报告</a></div>
                <div><a href="@Url.Action("Special")">专题报告</a></div>
                <div><a href="http://www.heatecchina.com/HEATEC15/Home/lang-simp/Information.aspx" target="_blank">同期展会</a></div>
                <div><a href="@Url.Action("Organizor")">主办协办</a></div>
                <div><a href="@Url.Action("Previous","Report")">历届论坛</a></div>
            </div>
        </div>
    </div>
</div>
